docker-compose.yml
Dockerfile

db/data/*.pem
db/data/*.cnf
db/data/*.pid
db/data/*.log
db/data/*.err
db/data/*.sock
db/data/ibdata1
db/data/Campeonato
db/data/Musica
db/data/pl4
db/data/pl5

*.swp
*.swo
*.log